{% extends "layouts/default.html" %} {% block title %} Create new password {% endblock %} {% block content %}
<div id="content">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-1">
                <div class="table-information">
                    <div class="title">
                        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp; New Password
                    </div>
                    <div class="right">
                        <a href="login" class="btn btn-default btn-sm">
                        <span class="glyphicon glyphicon-user" aria-hidden="true"></span> &nbsp; Login </a>
                    </div>
                </div>
                <div class="tables">
                    {% include 'notification/errors.html' %}
                    {% include 'notification/error.html' %}
                    {% include 'notification/success.html' %}
                    <form action="{{ code }}" method="post" class="form-horizontal">
                        <input type="hidden"  name="token" id="token" value="{{ token }}">
                        <div class="form-group">
                            <label for="password" class="col-sm-3 control-label">Password</label>
                            <div class="col-sm-9">
                                <input type="password" name="password" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="password_confirmation" class="col-sm-3 control-label">Password Confirmation</label>
                            <div class="col-sm-9">
                                <input type="password" name="password_confirmation" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-3 col-sm-9">
                                <input type="submit" value="Send" class="btn btn-primary">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}